@font-face {
    font-family: gorial;
    src: url(./Gloria_Hallelujah/GloriaHallelujah-Regular.ttf);
}


.audio{
    color: #fff;
    cursor: pointer;
    font-size: 40px;
    position: relative;
}

.audioff{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .4s;
}

.audioff::after{
    position: absolute;
    content: '';
    display: flex;
    background-color: #fff;
    width: 4px;
    bottom: 0px;
    border-radius: 5px;
    transform: rotate(45deg);
    transform-origin: bottom ;
    height: 140%;
}



.outerboard{
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
} 


.turn{
    color: #fff;
    font-size: 50px;
}


.board{
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.rows{
    border-bottom: 7px solid white;
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.board .rows:nth-child(3) {
    border-bottom: none;
}


.buttons{
    color: rgb(233, 233, 233);
    border-right: 7px solid white;
    width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: gorial;
    cursor: pointer;
    font-size: 150px;
}


.pop{
    animation: pop .2s ease;
}

@keyframes pop {
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}




.board .rows .buttons:nth-child(3){
    border-right: none;
}





.blink{
    animation: blink .5s .2s 3 ease-in-out;
}


.blinkborder{
    animation: blinkborder .5s .2s 3 ease-in-out;
}


.borderleftblink{
    animation: borderleftblink .5s .2s 3 ease-in-out;
}

@keyframes blink {
    0%{
        opacity: 0;
        color: gray;
    }
    50%{
        opacity: 1;
        color: #fff;
    }
}


@keyframes blinkborder {
    0%{
        border-bottom-color: transparent;
    }
    50%{
        border-bottom-color: #fff;
    }
}


@keyframes borderleftblink {
    0%{
        border-right-color: transparent;
    }
    50%{
        border-right-color: #fff;
    }
}



.playertitle{
    color: #fff;
    font-size: 26px;
    font-family: cursive;
    padding: 15px;
    padding-bottom: 0px;
    text-align: center;
}




.gray{
    color: rgb(128, 128, 128);
}


.players{
    color: gray;
    cursor: pointer;
    transition: .3s;
}

.players>label{
    cursor: pointer;
}


.players:hover{
    color: #fff;
}